<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmx.hitchhike.mapper.BicycleOwnerMapper">

    <resultMap id="BaseResultMap" type="com.lmx.hitchhike.entity.BicycleOwner">
            <id property="ownerId" column="owner_id" jdbcType="BIGINT"/>
            <result property="bicycleId" column="bicycle_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        owner_id,bicycle_id,username,
        password
    </sql>
</mapper>
