<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmx.hitchhike.mapper.WebRoleMapper">

    <resultMap id="BaseResultMap" type="com.lmx.hitchhike.entity.WebRole">
            <id property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleRange" column="role_range" jdbcType="VARCHAR"/>
            <result property="roleContent" column="role_content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,role_name,role_range,
        role_content
    </sql>
</mapper>
