<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmx.hitchhike.mapper.WebUserMapper">

    <resultMap id="BaseResultMap" type="com.lmx.hitchhike.entity.WebUser">
            <id property="webId" column="web_id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="webUsername" column="web_username" jdbcType="VARCHAR"/>
            <result property="webPassword" column="web_password" jdbcType="VARCHAR"/>
            <result property="webPhone" column="web_phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        web_id,role_id,web_username,
        web_password,web_phone
    </sql>
</mapper>
